@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    color:rgb(26, 26, 26);
    font-family: 'Oswald', sans-serif;
}

.side-bar{
    height: 100vh;
}
.nav-pills .nav-link{
    color:rgb(26, 26, 26);
}

.nav-pills .nav-link.active{
    background-color: #d6186d !important;
}
.tab-content-wrapper{
    background-color: #f0f0f0;
}

.chart-wrapper{
    background-color: white;
    padding:20px;
    border-radius: 5px;
    width: 100%;
}